<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      informacion personal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">mi informacion personal</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>mi informacion </h1>
  <p>hola mi nombre es yoleth consiredo que soy una persona simpatica creativa me gusta ayudar a los demas actualmente trabajo en un orfanato hace 10 años   </p>
<img src="https://us.123rf.com/450wm/vectorkif/vectorkif1812/vectorkif181200045/127089422-mujer-de-negocios-en-ropa-de-estilo-de-oficina-empresaria-moderna-de-la-se%C3%B1ora-que-sostiene-el-docum.jpg?ver=6">
</ion-content>

